<table *ngIf="contacts.length > 0; else noContactsAlert" class="table table-striped">

    <thead>
        <tr>
            <th>Lp.</th>
            <th>Nazwisko</th>
            <th>Imię</th>
            <th>Nr telefonu</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contact of contacts; let i = index">
            <td>{{i + 1}}</td>
            <td>{{contact.surname}}</td>
            <td>{{contact.firstName}}</td>
            <td>{{contact.phoneNumber}}</td>
        </tr>
    </tbody>

</table>

<ng-template #noContactsAlert>
    <p class="no-contacts">W tym momencie brak danych...</p>
</ng-template>